body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.nav {
    background-color: ghostwhite;
    color: #FFFFFF;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 15px 0 15px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 50px;
    font-size: 16px;
}

.nav > li > a {
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    color: #E9934C;
}

.logo {
    color: #000000;
    float: left;
    padding-left: 50px;
    font-size: 16px;
    font-weight: bold;
}

.logo > a {
    text-decoration: none;
    color: #000000;
}

.logo > a:hover {
    text-decoration: none;
    color: #E9934C;
}

h1 {
    font-size: 24px;
    text-decoration: none;
}

.links {
    margin: auto;
    padding: 33px;
    width: 300px;
    height: 900px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    padding: 44px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
